@font-face {
  font-family: "EB Garamond";
  src: url("./ebgaramond/EBGaramond-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./ebgaramond/EBGaramond-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
