*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

:where(ul, ol):where([class]) {
  padding-inline-start: 0;
  margin-block: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-inline-start: 0;
}

:where(fieldset[class]) {
  margin-inline-start: 0;
  padding: 0;
  border: none;
}

:where(address[class]) {
  font-style: normal;
}

:where(ul[class]) {
  list-style: none;
}

a[class] {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-color: currentColor;
}

input,
textarea,
select,
button,
optgroup,
legend,
output {
  font: inherit;
}

p {
  margin-block: 0;
}

p:not([class]) {
  margin-bottom: 24px;
}

p:not([class]):last-child {
  margin-bottom: 0;
}

:where(blockquote, figure):where([class]) {
  margin: 0;
}

img,
video {
  display: block;
  max-width: 100%;
}

svg *[fill] {
  fill: currentColor;
}
svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}
