:root {
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "EB Garamond", serif;

  --color-palette-black: #000000;
  --color-palette-black-950: #131313;

  --color-palette-white: #ffffff;

  --color-palette-yellow-100: #fee42a;

  --color-palette-gray-50: #f5f5f5;
  --color-palette-gray-300: #cccccc;

  --transition-duration: 0.2s;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-family: var(--font-family-base);

  font-size: 16px;
  font-weight: 400;

  line-height: 1.35;

  color: var(--color-palette-gray-50);
  background-color: var(--color-palette-black-950);
}
